<!-- journal/templates/journal/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'journal/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'journal/css/nav.css' %}">
</head>
<body>
    {% include 'journal/nav.html' %}  <!-- Include the navigation bar -->
    <div style="margin-top: 60px;">
    <h1>Welcome to the Travel Journal</h1>
    <p>This is the main page of your application.</p>
</body>
</html>
